@tailwind base;
@tailwind components;
@tailwind utilities;

.mainHome {
  height: fit-content;
  width: 98vw;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}

.mainBgImgBg {
  width: 98vw;
  height: 98vh;
  background-color: var(--white);
  position: absolute;
  top: 13px;
  left: 13px;
}

.mainBgImgContainer .mainBg {
  position: absolute;
  z-index: 0;
  width: auto;
  height: 96.5vh;
  background-size: cover;
  border-radius: 20px;
}

.mainContent {
  height: 97vh;
  width: 100%;
  padding: calc(80 / 16 * 1em);
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.mainContent h1 {
  color: var(--black);
  font-size: 6em;
  width: fit-content;
  font-weight: 400;
  letter-spacing: calc(((-6 / 100) * 16) / 16 * 1em); /* from % to px to em*/
}

.mainContent .cardMain {
  width: calc(350 / 16 * 1em);
  height: calc(350 / 16 * 1em);
  padding: calc(16 / 16 * 1em);
  position: relative;
  border-radius: 33px;
  background-color: var(--white);
  overflow: visible;
}

.mainContent .cardMain .recruitText {
  position: absolute;
  top: calc(-25 / 16 * 1em);
  right: calc(-20 / 16 * 1em);
  width: fit-content;
  height: fit-content;
  padding-top: calc(15 / 16 * 1em);
  padding-bottom: calc(15 / 16 * 1em);
  padding-right: calc(20 / 16 * 1em);
  padding-left: calc(20 / 16 * 1em);
  background-color: var(--purple);
  color: var(--white);
  border-radius: 20px;
  letter-spacing: calc(((5 / 100) * 16) / 16 * 1em);
  transform: rotate(8.68deg);
  font-weight: 300;
  text-decoration: none;
  font-size: calc(24 / 16 * 1em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent .cardMain .cardImgContainer {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mainContent .cardMain .cardImgContainer .cardImg {
  width: 100%;
  height: auto;
  object-fit: cover; /* Keeps aspect ratio while covering the container */
}

.mainContent .cardMain .cardImgContainer .joinUsText {
  width: calc(170 / 16 * 1em);
  height: calc(60 / 16 * 1em);
  padding-top: calc(19 / 16 * 1em);
  padding-bottom: calc(19 / 16 * 1em);
  padding-right: calc(21 / 16 * 1em);
  padding-left: calc(28 / 16 * 1em);
  background-color: var(--black);
  color: var(--white);
  border-radius: 20px;
  font-size: calc(20 / 16 * 1em);
  letter-spacing: calc(((5 / 100) * 16) / 16 * 1em);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 calc(16 / 16 * 1em) calc(16 / 16 * 1em) 0;
}
