/* Reset default styling for nav, ul, and li */
nav {
  all: unset; /* Resets all default styles */
  position: fixed;
  width: 100vw;
  top: 50px; /* Positions the nav 77px from the top */
  z-index: 9999;
}

ul {
  all: unset; /* Resets all default styles */
  list-style: none; /* Removes default bullet points */
  padding: 25px 51px; /* Removes default padding */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex; /* Aligns items in a row */
  align-items: center;
  justify-content: center;
  gap: 70px;
  border-radius: 89px;
  width: fit-content;
  height: fit-content;
  backdrop-filter: blur(5px); /* Apply 5px blur effect */
  -webkit-backdrop-filter: blur(5px); /* For Safari */
  z-index: 1000; /* Ensure navbar stays on top */
}

li {
  all: unset; /* Resets default styles */
  display: inline-block; /* Ensures proper spacing */
  position: relative;
}

/* Reset default link styles */
nav ul li a {
  all: unset; /* Resets all inherited styles */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Uses parent text color */
  cursor: pointer; /* Ensures the link is clickable */
  color: var(--black);
  font-size: calc(20 / 16 * 1em);
}

nav ul li a:focus {
  outline: none; /* Removes focus outline */
}

nav ul li .dot {
  position: absolute;
  bottom: -13px; /* Adjust distance from text */
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--black);
  border-radius: 50%;
}

.nav-logo {
  width: calc(55 / 16 * 1em); /* Adjust size as needed */
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
